<h2>Personal data form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="box">
    <app-first-last-name-form-group 
      [formSubmitted]="formSubmitted" 
      [group]="form.get('fullname')">
    </app-first-last-name-form-group>
    
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="email" value="" formControlName="email">
      </mat-form-field>
      <span class="ng-invalid" *ngIf="formSubmitted && form.controls.email.errors?.email">
        has to be a valid email.</span>
    </div>
  </div>
  
  <div class="box">
    <div class="form-group">
        <app-autocomplete-jobs #appJobAutocomplete placeholder="Occupation"></app-autocomplete-jobs>
        <input type="hidden" [ngModel]="appJobAutocomplete.selectedValue" formControlName="occupation" >
    </div>
    <app-address-form-group 
      [formSubmitted]="formSubmitted" 
      [group]="form.get('address')">
    </app-address-form-group>
  </div>
  <div class="full-width">
      <button type="submit" (click)="onSubmit()">
        Submit Data
      </button>
      </div>
</form>
