<h2>Personal data form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="box">
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Title" formControlName="title" required>
          <mat-option value="">Select</mat-option>
          <mat-option *ngFor="let title of titles" [value]="title.value">
            {{title.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="ng-invalid" *ngIf="form.controls.title.touched && form.controls.title.required">
        title is required.
      </span>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="First name" value="" formControlName="firstName" required>
      </mat-form-field>
      <span class="ng-invalid" *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.required">first
        name is required.</span>
      <span class="ng-invalid" *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.pattern">
        first name must contains only letters
      </span>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Last name" value="" formControlName="lastName" required>
      </mat-form-field>
      <span class="ng-invalid" *ngIf="form.controls.lastName.touched && !form.controls.lastName.valid">last name is
        required.</span>

    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="email" value="" formControlName="email">
      </mat-form-field>
      <span class="ng-invalid" *ngIf="form.controls.email.touched && form.controls.email.errors?.email">
        has to be a valid email.</span>
    </div>
  </div>
  <div class="box">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Occupation" value="" formControlName="occupation">
      </mat-form-field>
    </div>
    <div class="form-group" [formGroup]="addressGroup">
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="country" required>
          <mat-option value="">Select</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.value">
            {{country.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="ng-invalid" *ngIf="addressGroup.controls.country.touched && addressGroup.controls.country.required">
        country is required.
      </span>
    </div>
    <div class="form-group" [formGroup]="addressGroup">
      <mat-form-field class="full-width">
        <input matInput placeholder="Post code" value="" formControlName="postCode">
      </mat-form-field>
      <span class="ng-invalid" *ngIf="addressGroup.controls.postCode.touched && addressGroup.controls.postCode.errors?.pattern">
        invalid format {{addressGroup.controls.country.value}} postcode
      </span>
    </div>
  </div>

  <div class="full-width">
      <button type="submit" (click)="onSubmit()">
        Submit Data
      </button>
      </div>
</form>
