<ng-container [formGroup]="group">
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-select placeholder="Title" formControlName="title">
        <mat-option value="">Select</mat-option>
        <mat-option *ngFor="let title of titles" [value]="title.value">
          {{title.label}}
        </mat-option>
      </mat-select>
    <mat-error *ngIf="!group.controls.title.valid && group.controls.title.touched">
        title is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput placeholder="First name" value="" formControlName="firstName">
    <mat-error *ngIf="group.controls.firstName.touched && group.controls.firstName.hasError('required')">
      first name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="group.controls.firstName.touched && group.controls.firstName.hasError('pattern')">
      first name must contain only letters.
    </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput placeholder="Last name" value="" formControlName="lastName">
      <mat-error *ngIf="group.controls.lastName.touched && group.controls.lastName.hasError('required')">
          last name is required.
        </mat-error>
        <mat-error *ngIf="group.controls.lastName.touched && group.controls.lastName.hasError('pattern')">
          last name must contain only letters.
        </mat-error>    
    </mat-form-field>
  </div>
</ng-container>
